hr{
    width: 75vw;
    line-height: 20px;
    margin:auto;
    height: 3px;
    background-color:black;
}


*{
    box-sizing: border-box;
    font-family: 'Baloo Tammudu 2', cursive;
    line-height: var(--font-size) ;
    font-size: var(--font-size);
    list-style: none;
    margin:0px;
    padding:0px;
    justify-items: center;
    align-items: center;
    /* background-color: var(--background-color); */
}

:root{
    --showcase-item-width : calc((var(--showcase-item-width)-30px)/3)
    --font-size : 10px;
    --window-width: calc(100vw-10px);
    --nav-width : var(--window-width);   
    --footer-width : var(--window-width);
    --footer-font-size : var(--font-size);
    --background-color :white;
}

body{
    margin:0;
    padding:0;
    width: var(--window-width);
    height:100vh;
    justify-items: center;
    align-items: center
}


/* =================================================================footer======================================================= */

#footer{
    font-size: var(--footer-font-size);
    display: grid;
    width:var(--footer-width);
    height: auto;
    margin:0;
    padding:0;
    grid-template-columns: repeat(3, 32.9vw);
    grid-template-rows: auto;
    justify-items: center;
    padding: 50px 0px;

    /* border-top: 8px solid black; */

}

#footer a, #footer p{
    text-decoration: none;
    color: black;
    display: inline;
    width: 100%;
    height: 100%;
}

#footer-left{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    display: inline-block;
    height: 100%;
}


#footer-center{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    display: inline-block;

}



#footer-right{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    display: inline-block;
    
}
/*==============================================================Navigation-Bar==============================================================*/

#menu-button{
    display: none;
}

#navigation-bar{
    display:grid;
    grid-template-columns: repeat(10 , calc(var(--nav-width)/10));
    grid-template-rows: auto;
    font-weight: bold;
}

#menu-bar{
    grid-row:1/2;
    grid-column: 8;
    display: grid;
    grid-template-columns: repeat(3, calc(var(--nav-width)/10));
    grid-template-rows: auto;
    width:100%;

    margin:0;
    padding:0;
    box-sizing: border-box;
}

#navigation-bar #menu-bar .nav-items a:active{
    background-color: gray;
    color: white;
}


#navigation-bar #menu-bar .nav-items a{
    text-decoration: none;
    color: black;
    
 
    /* height:100%; */
    display: block;

    padding: 10px 0px;
    text-align: center;
}


#name a{
    display: inline-block;
    text-align: center;
    height: 100%;
    width:100%;
    text-decoration: none;
    color: black;

}

#name p{
    line-height: calc(var(--font-size)*0.5);
    display: inline;
}

#name {
    grid-column: 1/4;
    grid-row: 1/2;
    align-items: center;
    width:100%;
    height:100%;
    padding:20px;
    border:none;
}

#info {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;


}


#updates{   
    grid-column: 2/3;
    grid-row: 1/2;

}

#showcase{
    grid-column: 3/4;
    grid-row: 1/2;

}

.nav-items{
    height: 100%;
    width:100%;
    display: block;

}

/* ====================================================showcase-palette=============================================================== */

#showcase-pallete h1{
    text-align: center;
}

#showcase-pallete{
    padding: 25px 0px;

}


#showcase-items{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    justify-content: center;
    width: var(--window-width);
    box-sizing: border-box;

}

#showcase-items li{
    width:25vw;
    max-width: 540px;
    /* max-height: 360px; */
    min-width: 360px;
    height:100%;
    /* height: 16vw;
    min-height: 240px; */
}

#showcase-items li a{
    /* padding:2vw; */
    margin:20px;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100% - 82px) 40px 10px; 
    box-sizing: border-box;
    word-wrap: wrap;
    border-radius: 50px;
    text-decoration: none;
    color: black;

    align-items: none;
    justify-items: none;
}

#showcase-items li a img{
    grid-column: 1/2;
    grid-row: 1/2;
    display:inline-block;
    width:100%;
    height: 100%;
    /* border-radius:50px; */
}

#showcase-items li a h1{
    
    grid-columns: 1/2;;
    grid-rows:3/4; 
    font-weight: bold;
    margin:0;
    text-align: left;
    padding:0;
    font-size: var(--font-size);
    width:100%;

}

#showcase-items li a p{
    width:100%;
    grid-columns: 1/2;
    grid-rows:4/5;

    margin:0;
    padding:0;
}












/* ===============================================Reponsive============================================================== */



/* 
most of the site is already reponsive, the only componenets we have to alter are navBar and Footer
*/


@media only screen and (max-width : 820px){
    #name{
        grid-column: 1/11;
    }

 
    #menu-bar{
        height:100vh;
        width:0vw;
        position: fixed;
        right: 0;
        background-color: rgb(224, 223, 219);
        grid-template-columns: auto;
        grid-template-rows: 10vh 10vh 10vh 10vh; 
    }

    /* #menu-button:focus{
        outline:none;
        box-shadow: none;
    } */


 

    #info{

        grid-row: 2/3;
        grid-column: 1/2;
    }

    #updates{
        grid-row: 3/4;
        grid-column: 1/2;
    }

    #showcase{
        grid-row: 4/5;
        grid-column: 1/2;
    }

    #menu-button{
        display: block;
        position:fixed;
        right:0;
        top:25vh;
        width: 100px;
        height: 100px;
        background: transparent;
        border:transparent; 
        z-index: 2;
    }
    
    #menu-button:focus{
        outline:none;
        box-shadow: none;
    }

    #menu-button img{
        position: relative;
        top:-26.5vh;
        right:-20px;
        height:70vh;
        width:60px;
    }


    #footer{
        grid-template-columns: 50vw 50vw;
        grid-template-rows: auto auto;
    }
    #left-footer{
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
    }

    #right-footer{
        grid-template-columns: 2/3;
        grid-template-rows: 2/3;
    }
    
    #center-footer{
        grid-template-columns: 1/2;
        grid-template-rows: 2/3;
        
    }


} 